.font {
    font-family: 'Red Hat Text', sans-serif;
}
.box {
    width: 400px;
    height: 60px;
}
.font-title {
    font-family: 'Righteous', cursive;
    text-decoration: underline;
    color: rgb(21, 19, 95);
    text-decoration-color: rgb(9, 18, 126);
}
body {
    background-color: #fefefe;
}

.btn {
    opacity: 0;
}

.btn:hover {
    opacity: 1;
}